<html>
 <head>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&amp;display=swap" rel="stylesheet"/>
 </head>
 <body class="bg-white flex items-center justify-center min-h-screen">
  <div class="text-center">
    <div class="splash-container">
        <img [src]="currentImage" alt="Splash Image" class="splash-image">
    </div>
   <h1 class="text-2xl font-bold text-black mb-2">
    Ubah Kata Menjadi Gerak
   </h1>
   <p class="text-lg text-gray-400 mb-6">
    mengubah kata-kata menjadi gerakan bahasa Isyarat
   </p>
   <div class="flex justify-center items-center mb-6">
    <span class="h-2 w-2 bg-purple-500 rounded-full mx-1">
    </span>
    <span class="h-2 w-2 bg-gray-300 rounded-full mx-1">
    </span>
    <span class="h-2 w-2 bg-gray-300 rounded-full mx-1">
    </span>
   </div>
   <button routerLink="/livegestur" class="bg-purple-500 text-white text-lg font-semibold py-2 px-8 rounded-full mb-4">
    Masuk
   </button>
   <p class="text-gray-500">
    Belum punya akun?
    <a class="text-blue-500" href="#">
     Buat akun
    </a>
   </p>
  </div>
 </body>
</html>
