<div class="p-4 bg-gradient-to-b from-purple-200 to-white h-screen">
     <!-- Header -->
     <div class="header-bg p-4">
        <div class="flex justify-between items-center">
            <div>
                <svg (click)="goBack()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" class="text-black" />
              </svg>
              </div>
              <div>
                  <p class="text-black text-xl font-semibold">Forum Diskusi</p>
              </div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-black">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                </svg>  
              </div>
        </div>
        <div class="mt-4">
        </div>  
    </div>

    <!-- Search Bar -->
    <div class="relative mb-6 gap-2">
        <input  type="text" placeholder="Cari kosa Kata..." class="w-full text-black bg-white p-3 border pl-10 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-purple-600">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute left-4 top-1/2 transform -translate-y-1/2 size-6 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg> 
    </div>

    <!-- Chat List -->
    <div class="max-w-md mx-auto bg-white rounded-lg shadow-lg overflow-hidden">
        <ul class="divide-y divide-gray-200">
            <!-- List Item 1 -->
            <li class="p-4 hover:bg-gray-100 cursor-pointer flex items-center space-x-4">
                <img src="https://i.pinimg.com/736x/09/90/55/0990558428700197049dcfcb4cc18df8.jpg" alt="Profile 1" class="w-16 h-16 rounded-lg object-cover">
                <div class="flex-1">
                    <div class="flex items-center justify-between">
                        <span class="text-gray-700 font-bold">Krisna</span>
                        <span class="text-gray-500 text-sm">10.13</span>
                    </div>
                    <p class="text-sm text-gray-500">halooooo</p>
                </div>
            </li>
    
            <!-- List Item 2 -->
            <li class="p-4 hover:bg-gray-100 cursor-pointer flex items-center space-x-4">
                <img src="https://i.pinimg.com/736x/52/25/22/522522b4ef8de61225ad8bb0df48451b.jpg" alt="Profile 1" class="w-16 h-16 rounded-lg object-cover">
                <div class="flex-1">
                    <div class="flex items-center justify-between">
                        <span class="text-gray-700 font-bold">Ucup</span>
                        <span class="text-gray-500 text-sm">20.08</span>
                    </div>
                    <p class="text-sm text-gray-500">kuyy</p>
                </div>
            </li>
    
            <!-- List Item 3 -->
            <li class="p-4 hover:bg-gray-100 cursor-pointer flex items-center space-x-4">
                <img src="https://i.pinimg.com/736x/aa/3d/9a/aa3d9a46a8f92f80c3827414a44d6b75.jpg" alt="Profile 1" class="w-16 h-16 rounded-lg object-cover">
                <div class="flex-1">
                    <div class="flex items-center justify-between">
                        <span class="text-gray-700 font-bold">Komunitas Tuna Rungu Surakarta</span>
                        <span class="text-gray-500 text-sm">15.00</span>
                    </div>
                    <p class="text-sm text-gray-500"> ilham : ada fitur baru guysss </p>
                </div>
            </li>
    
            <!-- List Item 4 -->
            <li class="p-4 hover:bg-gray-100 cursor-pointer flex items-center space-x-4">
                <img src="https://i.pinimg.com/736x/b9/78/ad/b978ad81b2c30b971adfb67060cda471.jpg" alt="Profile 1" class="w-16 h-16 rounded-lg object-cover">
                <div class="flex-1">
                    <div class="flex items-center justify-between">
                        <span class="text-gray-700 font-bold">Luuna</span>
                        <span class="text-gray-500 text-sm">12.30</span>
                    </div>
                    <p class="text-sm text-gray-500">alooooo</p>
                </div>
            </li>
        </ul>
    </div>
    
</div>
