<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

<div class="header-bg p-4 h-screen">
    <div class="flex justify-between items-center">
        <div>
            <i (click)="goBack()" class="fas fa-arrow-left text-xl text-white"></i>
        </div>
        <div>
            <p class="text-white">Live Gestur</p>
        </div>
        <div>
            <i class="fas fa-bell text-xl text-gray-500"></i>
        </div>
    </div>
    <div class="mt-4">
    </div>  
</div>

<div class="image-container fixed top-20">
    <img src="https://4get.ch/proxy?i=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Ff7%2F2a%2F64%2Ff72a64f5dac334b48f793315479caf39.jpg" alt="Deskripsi gambar" />
  </div>