body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
.nav-item.active i, .nav-item.active p {
    color: #6B46C1; /* Purple color */
}
.card {
    transition: background-color 0.2s, transform 0.2s;
}
.card:active {
    background-color: #D6BCFA; /* Light purple color */
    transform: scale(0.95);
}

.header{
    gap: 20px;
}


.card-container {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 16px 0;
    scroll-snap-type: x mandatory;
}

.card-container::-webkit-scrollbar {
    height: 8px;
}

.card-container::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 4px;
}
 /* Hilangkan scrollbar di WebKit */
 .card-container::-webkit-scrollbar {
    display: none;
}
.card {
    flex: 0 0 auto;
    scroll-snap-align: start;
    background: linear-gradient(to right, #613EEA, #886AFF);
    color: white;
    padding: 16px;
    border-radius: 8px;
    width: 300px;
}

.card button {
    background-color: white;
    color: #7f00ff;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 16px;
}